doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    include references.pug
    title Stories
  body.yellowbg
    include navigation.pug
    // CARDS BEGIN
    .container
      .row.contentpage
        .col.s12
          img.profilepic(src=!{data.picture})
          h4.underline.myteal=name
          br
          br
          h5 How did you get into coding?
          p.flow-text=data.coding
          h5 What is your current job about?
          p.flow-text=data.jobinfo
          h5 What are your daily tasks?
          p.flow-text=data.daytoday
          h5 Can you tell us about a project you are working on?
          p.flow-text=data.project
          h5
            | Let's say I wanted to get into your job.. Do you have any links, tipps or learnings on how to get started?
          p.flow-text=data.tipps
        // closing col
      // closing row
    // closing container
    // Scripts
